@import "demo.css";

 
* {
    margin: 0;
    box-sizing: border-box;

}


body {
    scroll-behavior: smooth;
    background-color: #113822;
    color: white;
    position: relative;
    overflow: hidden;



}
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #857638;
    z-index: 1000;
    
    
  }

  .progress-bar {
    height: 100%;
    width: 0%;
    background: #E3A749;
    transition: width 0.3s ease;
  }
  

input[type="text"]::placeholder {
    color: #5d806d;
    /* Cor vermelha */
    font-family: 'Montserrat', sans-serif;
}





.imgauvp{
    background-image: url(https://images.typeform.com/images/RVJQ4JXsUtTy);
    background-size: contain;        /* faz a imagem cobrir todo o elemento */
    background-repeat: no-repeat; /* impede que a imagem fique se repetindo */
    background-position: center; 
    height: 130px;
    width: 170px;
    border: none;
    margin-left: 35px;
    position: fixed;
   
}



#homearrowbutton {
    justify-content: space-between;
}

.button01 {
    background-color: #E3A749;
    width: 34px;
    height: 40px;
    position: absolute;
    right: 61px;
    bottom: 30px;
    position: fixed;
    color: white;
    font-size: 20px;
    font-weight: 200;
    transform: rotate(270deg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;


}

.button02 {
    background-color: #E3A749;
    width: 34px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    position: fixed;
    color: white;
    font-size: 20px;
    font-weight: 200;
    transform: rotate(90deg);
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    border-radius: 2px;


}







input {
    width: 200px;
    height: 40px;
    text-align: left;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
}

.number {
    position: absolute;
    top: 5px;
    left: -43px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.number2 {
    position: absolute;
    top: 33px;
    left: -43px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.number3{
    position: absolute;
    top: 5px;
    left: -43px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}



.container {
    height: 100vh;
    transition: transform 0.8s ease-in-out;
    flex-direction: column;
    gap: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.n01 {
    width: 36%;
    height: 100vh;
    transition: transform 0.8s ease-in-out;
    display: flex;

}

.erro {
    background-color: #F7E6E6;
    color: #8c0303;
    width: 22px;
    height: 30px;
    margin-top: 20px;
    width: 200px;
    font-size: 14px;
    border-radius: 3px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-left: 15px;
    display: none;
}


.p01{
    margin-top: 40px;
}






.iti{
    display: block !important; 
}
.telefone-box{
    width: 100%;
}

.telefone-box button{    
    border-bottom: 1px solid #f3f5f42f;
}
.telefone-box input{
    padding-left: 0px !important;
    text-align: left !important;
    width: 92% !important;
}

#phone::placeholder{
    position: absolute;
    left: 1px;    
    text-align: left;
    
}




@media (max-width: 480px) {
  .iti__country-list {
    width: 8vw; /* Ajuste para telas pequenas */
  }
  }



.iti__dropdown-content {
    background-color: #113822;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 6px;

}






.iti__country{
    background-color: #294C39;
    margin: 8px;
    border: 1px solid #BDC7C1;
    border-radius: 5px;
}


.n01 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 24px;
    padding-bottom: 35px;

}


.n01 input {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;

}

label {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 21px;
    text-align: center;
}


.alinhar {
    width: 100%;
    padding-bottom: 48px;
    
}

.alinhartele {
    width: 100%;
}

#erroEmail {
    margin-bottom: 20px;
}

.butonok {
    width: 59px;
    height: 40px;
    background-color: #E3A749;
    border-radius: 4px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    margin-right: 8px;


}

.okalinhar {
    font-size: 12px;
    color: white;
    font-family: sans-serif;
}

.optar {
    font-size: 24px;
    color: white;
    margin-bottom: 200px;
    font-family: 'Montserrat', sans-serif;
    width: 38%;
    margin: auto;
    text-align: start;
    height: 100vh;
    display: flex;



}

span p {
    text-align: justify;
    margin: 3px;
    padding: 20px;
}

.continuarbutton {
    width: 129px;
    height: 40px;
    background-color: #E3A749;
    border-radius: 4px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 24px;



}

#bebida {
    display: flex;
    color: white;
    width: 38%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;


}

.inputbebida {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 18px 0px 28px 0px;
    font-size: 29px;
    line-height: 100px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;
    height: 32px;
    margin-top: 32px;
    margin-bottom: 12px;
}



/* TAG 3*/

.interesse{
    text-align: left;
    width: 38%;
}

.interesse h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
}
.interesse input{
    display: none;
}

.interesse ul{
    padding-left: 0;

}
.interesse li{
    list-style: none;
    display: flex;
    width: 370px;
    margin: 10px;
    position: relative;


}
.interesse button{
    height: 36px;
    width: 350px;
    background-color: #294C39;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.692);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;

}
.interesse p{
    background-color: #113822;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 1px solid white;
    width: 22px;
    text-align: center;
    height: 22px;   
    margin-right: 10px;
    padding-top: 3px;
    border-radius: 2px;


}
.interesse span{
    background-color: transparent;
    position: absolute;
    border: none;
    right: 28px;
}




























/*
.correçao{
    text-align: center;
    width: 40%;
    display: flex;
    align-items: first baseline;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;



}

.correçao textarea{
    display: none;
}





.correçao p, .correçao button{
    height: 40px;
    margin: 4px;
    display: flex;
    align-items: center;
    width: 60%;
    background-color: #294C39;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: 1px whitesmoke solid;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    color: white;
}




.correçaospan{
    height: 20px;
    margin: 0px 6px 0px 5px;
    display: flex;
    align-items: center;
    width: 20px;
    background-color: #113822;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 1px whitesmoke solid;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#listacorreçao{
    width: 100%;
    margin-top: 22px;
    border-radius: 5px;
}




.verificaçao{
     position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
 
}


*/




















.pad {
    align-items: center;
    padding-left: 0px;
    margin-top: 26px;
    justify-content: center;
    text-align: start;
    flex-wrap: wrap;
    gap: 10px;
}

#interesse {
    display: flex;
    color: white;
    width: 38%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;



}

.caixaselecionar {
    width: 340px;
    height: 38px;
    background-color: #294C39;
    border-radius: 3px;
    border: 1px solid #BDC7C1;
    cursor: pointer;
    margin: 10px;
    list-style: none;
    position: relative;
    transition: background-color 0.3s;


}
.ativo {
    background-color: #597465;
  }

.labelA {
    display: inline-block;
    background-color: #113822;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 1px #BDC7C1 solid;
    cursor: pointer;
    padding-top: 3px;
    font-family: sans-serif;
    border-radius: 2px;
    text-align: center;
    





}

.label02 {
    cursor: pointer;
}



input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 5px;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    /* O símbolo do check */
    font-size: 18px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 2px;
}






.hobbie {
    color: white;
    width: 38%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    display: flex;
}

.hobbie input {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 18px 0px 28px 0px;
    font-size: 29px;
    line-height: 100px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;
    height: 32px;
    margin-top: 32px;
    margin-bottom: 12px;
}

.estado {
    height: 100vh;
    font-size: 24px;
    width: 40%;
    text-align: start;
    position: relative;
    display: flex;
}

.estado p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: start;

}

.estado input {
    background-color: #113822;
    border: 0px;
    border-bottom: 1px solid #597465;
    width: 94%;
    color: white;
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    margin-top: 32px;
    margin-bottom: 12px;


}



.estado ul {
    margin: auto;
}

.estado ul p {
    margin: auto;
    font-family: 'Montserrat', sans-serif;

}

.estado li {
    list-style: none;
    transition: background-color 0.2s ease, transform 2s ease;
} 
.button-li{
    padding: 6px;
    margin: 5px;
    height: 36px;
    width: 100%;
    background-color: #294C39;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.692);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}


.button-li:hover {
    background-color: #597465;
}


#buttonceta {
    position: absolute;
    top: 70px;
    right: 46px;
    background-color: transparent;
    border: none;
}

#Butaoceta01 {
    color: white;
    font-size: 22px;
    display: inline-block;
    font-weight: 200;
    transform: rotate(90deg);
    margin-bottom: 10px;
    cursor: pointer;
}

#Butaoceta02 {
    color: white;
    font-size: 22px;
    display: inline-block;
    font-weight: 200;
    transform: rotate(90deg);
    margin-bottom: 10px;
    cursor: pointer;
}

#opçoesesta {
    position: relative;
    display: none;
    right: 45px;
    opacity: 0;
    top: -80px;
    animation: fadein01 0.7s forwards;



}


@keyframes fadein01 {
    0% {
        opacity: 0;
        top: -80px;

    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
        top: 2px;

    }
}




.regime {
    height: 100vh;
    font-size: 24px;
    width: 40%;
    text-align: start;
    position: relative;
    display: flex;
}

hr {
    border: none;
    border-bottom: 2px dashed white;
    margin-top: 20px;
}

.regime p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: start;

}

.regime input {
    background-color: #113822;
    border: 0px;
    border-bottom: 1px solid #597465;
    width: 94%;
    color: white;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    margin-top: 32px;
    margin-bottom: 12px;

}

#opçoesregime {
    position: relative;
    right: 45px;
    display: none;
    opacity: 0;
    margin-top: 0px;
    top: -80px;
    animation: fadein02 0.7s forwards;


}

#buttaoceta02 {
    position: absolute;
    top: 70px;
    right: 46px;
    background-color: transparent;
    border: none;
}

#opçoesregime ul {
    margin-top: 0px;
}

@keyframes fadein02 {
    0% {
        opacity: 0;
        top: -80px;

    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
        top: 2px;

    }

}


#opçoesregime li {
    list-style: none;
    transition: background-color 0.2s ease, transform 2s ease;
    /* Transição lenta */
}

#opçoesregime li:hover {
    background-color: #597465;
}


.filho {
    color: white;
    width: 38%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    display: flex;
    text-align: start;
}

.filho input {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;
    margin-top: 32px;
    margin-bottom: 12px;
}

.experiencia {
    color: white;
    width: 38%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    text-align: start;
}

.experiencia textarea {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;
    margin-top: 18px;
    margin-bottom: 15px;
    height: 32px;
    resize: none;
    overflow: hidden;
}
textarea::placeholder {
    color: #51675a;
    font-size: 24px;
    text-align: left;



    /* Controla a transparência */
}

.experiencia p {
    margin-bottom: 10px;
}

.pexperiencia {
    margin-top: 10px;
    font-size: 19px;
    color: #b0b0b0;
}

#endereço {
    color: white;
    width: 38%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    text-align: start;
}

#endereço label {
    font-size: 20px;
}


#endereço input {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 95%;
    text-align: left;
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;
    margin-block-end: 48px;
}

.endereçoopçoes {
    margin-block-start: 32px;
}

.butonokenderreço {
    display: flex;
    padding-right: 12px;
}

#endereço input::placeholder {
    color: #516E5D;
    font-size: 22px;
    text-align: left;



    /* Controla a transparência */
}

.medo {
    color: white;
    width: 40%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    text-align: start;
    margin-top: 200px;
}

.medo input {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    border: 0;
    width: 95%;
    text-align: left;

    font-size: 24px;
    color: white;
    border-bottom: 1px solid #597465;
    background-color: #113822;

    margin-bottom: 18px;
}

.medoopçao {
    margin-top: 32px;
}

input::placeholder {
    color: rgb(143, 143, 143);
    opacity: 0.7;
}

.nota {
    color: white;
    width: 42%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    text-align: start;
    margin-top: 200px;
    height: 100vh;
    
}





.nota input {
    display: none;
}
.nota li {
    list-style: none;
}






.butaonota {
    width: 120px;
    height: 60px;
    background-color: #294C39;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 26px;
    transition: background-color 0.3s;
    cursor: pointer;
    
}

  
  .butaonota:hover {
    background-color: #597465;
  }


.investidohoje {
    color: white;
    width: 42%;
    margin: auto;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding: 20px;
    text-align: start;
    margin-top: 200px;
    height: 100vh;
}

    

.investidohoje ul {
    list-style: none;
    margin-top: 22px;
    text-align: left;
    padding-left: 0px;
    margin-bottom: 18px;
    width: 100%;

}



.butaoivestidohoje {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #294C39;
    height: 40px;
    border: 1px solid rgba(236, 236, 236, 0.786);
    margin: 10px 0;
    width: 46%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}


.investidohoje p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #113822;
    height: 20px;
    width: 20px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    margin-right: 8px;
    margin-left: 4px;
    font-family: sans-serif;


}

.verificaçao{
    position: absolute;
    right: 25px;
}



.investidohoje select {
    display: none;
}

#hidden-form {
    display: none;
}
#okbutaofinal{
    display: block;
}

#submit{
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 40px;
    background-color: #E3A749;
    border-radius: 4px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    margin-right: 8px;
    display: none;

}
.errofinal{
    width: 280px;
    height: 30px;
    border-radius: 3px;
    background-color: #F7E6E6;
    display: none;
    justify-content: center;
    align-items: center;
}
.errofinal span{

    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #8c0303;
    
}
